body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    width: 200px;
}
a {
    color:black;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}
a:hover {
    color:green;
}